.partial[data-partial="fragments/blocks"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: red;
  .partial[data-partial^="elements/block"] {
    /*position: relative;
    float: left;*/
    position: absolute;
    left: 0;

    width: 30%;
    background: blue;


    &:nth-child(1) {
      display: block;
    }
  }
}
