.partial[data-partial="elements/block/o"]{
  span {
    &:nth-child(1) {
      top: 33.3333%;
      left: 0%;
    }
    &:nth-child(2) {
      top: 33.3333%;
      left: 33.3333%;
    }
    &:nth-child(3) {
      top: 66.6666%;
      left: 0%;
    }
    &:nth-child(4) {
      top: 66.6666%;
      left: 33.3333%;
    }
  }
}
