---
test1: "1245r"
color: "orange"
---
<div class="partial controller" data-partial="components/dragdrop" data-controller="./partials/components/DragDrop" data-ajax="/xyz/123.json">
  {{#block "headline"}}
    <h1 class="super-drag margin-bottom-90" style="background-color: {{{color}}}">TT {{{test1}}}</h1>
  {{/block}}
  <img id="knob" src="{{{relativeToRoot}}}assets/img/knob.png" />
  <nav>
  </nav>
</div>
